
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat"
}


#navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #350712;
}

#navigation-bar .logo{
    width: 30%;
    border-radius: 100%;
    margin-left: 1rem
}


#navigation-bar .navigation ul{
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

#navigation-bar .navigation ul li{
    list-style: none;
}

#navigation-bar .navigation ul li a{
    text-decoration: none;
    color: white;
}

#navigation-bar .navigation ul li a:hover{
    color: pink;
    font-size: 1.2rem;
}

/* CAROUSEL SECTION */
 .carousel-item{
    height: 32rem;
    background: black;
    color: white;
    position: relative
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

#myCarousel .carousel-indicators li{
    background-color: #350712;
}

/* to Change the color of the bootstrap carousel button icon */
#myCarousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23800020' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4V0z'/%3e%3c/svg%3e");
  }

#myCarousel .carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23800020' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4V0z'/%3e%3c/svg%3e");
}

/* .first-image{
    background-image: url(Images/product.jpg);
    background-position: center;
    background-size: cover;
    padding: 15%;
} */



.overlay-image{ 
    height: 100%;  /*if there's no content in a container you have to at least specify its height before adding any css property */
    padding: 30%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(Images/product.jpg); 
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}
.overlay-image:hover{
    opacity: 1;
} 

.background-image{
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url(Images/chocolate-cake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22%;
    opacity: 0.7;
}

.background-image:hover{
    opacity: 1;
}

.overlay-image-1{
    height: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(Images/IMG-20251204-WA0013.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10%;
    opacity: 0.7;
}

.overlay-image-1:hover{
    opacity: 1;
}

.background-image-1{
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/african-baker.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30%;
    opacity: 0.8;
}

.background-image-1:hover{
    opacity: 1;
}

.carousel-inner .container{
    color: white;
}

.carousel-inner .welcome-copywrite h1{
    font-size: 60px;
}

.carousel-inner .welcome-copywrite p{
    font-size: 20px;
}

.carousel-inner .about-copywrite h1{
    font-size: 50px;
}

.carousel-inner .about-copywrite p{
    font-size: 20px;
}

.carousel-inner .product-copywrite h1{
    font-size: 50px;
}

.carousel-inner .product-copywrite p{
    font-size: 20px;
}

.carousel-inner .contact-copywrite h1{
    font-size: 50px;
}

.carousel-inner .contact-copywrite p{
    font-size: 20px;
}

/* ABOUT US SECTION */

#about-us{
    background-color: #FEEBB9;
}
.welcome-address{
    padding: 60px 40px 60px 40px;
}

.welcome-address h5{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    justify-items: center;   
}

#about-us .about h1{
    text-align: center;
    padding-top: 20px;
    font-size: 4rem;
    color:#350712;
}

.about .about-image{
    width: 500px;
    height: auto;
    padding: 2rem;
}

.about .about-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

.about .slider-wrapper{
    position: relative;
    max-width: 100%;
    padding: 3rem 20px;
    flex: 1;
}

.about .slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 500px;
    height: 400px;
    border-radius: 50%;
}

/* hide the image scrollbar */
.about .slider::-webkit-scrollbar{
    display: none;
}

.about .slider img{
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: start;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: black;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.card-container{
    background-color: beige;
    padding: 50px 30px;
    margin-top: 50px;
}

.card-list{
    position: relative;
}
.card-list .card{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.card-list .card:hover{
    transform: translateY(-20px);
}

.card .card-image img{
    width: 100%;
    padding: 10px;
    border-radius: 22px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card .card-image .card-tag{
    position: absolute;
    top: 25px;
    left: 25px;
    color: burlywood;
    background-color: #fff;
    padding: 5px 15px;
    font-size: 0.75rem;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.card .card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 20px;
}

.card .card-content .card-title{
    color: #111111;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}

.card .card-content .card-text{
    color: #747474;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.card .card-footer .card-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #350712;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.card .card-footer .card-button:hover{
    transform: translateY(-10px);
    color: burlywood;
}

.card-container .swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    overflow: hidden;
    opacity: 1;
    background: #947c81
}
 
.card-container .swiper-pagination-bullet-active::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #350712;
    transform: scaleX(0);
    transform-origin: left center;
    animation: autoplay-loading 3s linear forwards;
}

.card-container:hover .swiper-pagination-bullet-active::before{
    animation-play-state: paused;
}

@keyframes autoplay-loading {
    100% {
        transform: scaleX(1)
    }
}

.card-container :where(.swiper-button-prev,.swiper-button-next):hover{
    color: #350712;
}

@media (max-width: 768px) {
    .card-container{
        margin: 0 10px 25px;
    }
    .card-container.swiper-button-prev, .card-container .swiper-button-next{
        display: none;
    }
}

/* PRODUCT SECTION */
#products{
    padding: 70px;
    background-color: #350712;
    color: white;
}

#products .product-title{
    text-align: center;
    padding-bottom: 60px;
}

#products .product-title h1{
    font-size: 4rem;
}

.product-container .product-list{
    position: relative;
}

.product-container .product-images{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 400px;
    height: 400px;
    border-radius: 30px;
}


.product-container .product-images img{
   flex: 0 0 100%;
   width: 100%;
   height: 100%;
   object-fit: cover;
   scroll-snap-align: start;
   transition: transform 0.5s;
}

.product-container .product-images::-webkit-scrollbar{
    display: none;
}

.product-container .product-list{
    display: flex;
    gap: 4rem;
}


.product-images:hover img{
    transform: scale(1.5);
}

.product-images:hover .layer{
    height: 100%;
}

.product-container a{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FEEBB9;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white; 
}

.product-container a:hover{
    background: white
}

/* CONTACT US */

.contact-container{
    padding: 12rem;
    background-color: beige;
    color: #350712;
}

.contact-container .row{
    justify-content: space-between;
}
.row .contact-left{
    flex-basis: 35%;
}

.row .contact-left p{
    margin-top: 30px;
}

.row .contact-left p i{
    margin-right: 15px;
    font-size: 25px;
    transition: transform 0.5s;
}

.row .contact-left p i:hover{
    transform: translateY(-5px);
}

.row .contact-right{
    flex-basis: 60%;
}

.contact-left .social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#350712;
    display: inline-block;
    transition: transform 0.5s
}

.social-icons a:hover{
    color: burlywood;
    transform: translateY(-5px);
}

.contact-right .btn-light{
    background-color: burlywood;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-right .btn-light:hover{
    background:#350712;
    color: white;
}

.contact-right .form{
    width: 100%;
}

.contact-right .form-control{
    width: 100%;
    border: 0;
    outline: none;
    background: #350712;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}

.form-control::placeholder, .form-control::placeholder{
    color: #fff;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #FEEBB9;
    font-weight: 300;
}

.copyright p{
    color:#350712
}
